[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.109.0"
uvicorn = "==0.26.0"
pydantic = "<2.7.0"
pydantic-settings = "==2.1.0"
python-decouple = "==3.8"
asyncpg = "==0.30.0"
tortoise-orm = "==0.21.0"
aerich = "==0.7.2"
gunicorn = "==21.0.1"
pandas = "==1.5.3"
numpy = "==1.26.4"
pyjwt = "*"
passlib = "*"
bson = "*"
bcrypt = "==4.0.1"
email-validator = "*"

[dev-packages]
httpx = "==0.26.0"
pytest = "==7.4.4"
pytest-cov = "==4.1.0"
flake8 = "==7.0.0"
black = "==23.12.1"
isort = "==5.13.2"

[requires]
python_version = "3.11"
